body {
	font-size: 25px;
	text-align: center;
	background-color:rgb(238, 238, 238);
	color: rgb(44, 43, 43);
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.topo {
	background-color: rgb(51, 51, 51);
	color:#fff;
	padding: 0.5em
}
.container {
	width: 95%;
	margin: 0 auto;
}
/*Esse é o Skip que vai para o conteúdo principal da página*/
.skip {
	position: absolute;
	left: -10000px;
	top: auto;width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
}
/*Esse é o Skip que vai para o conteúdo principal da página*/
img {
	border-radius: 8px;
	width: 100%;
	max-width: 80%;
	height: auto;
}	
a:focus{
    color: rgb(44, 43, 43); 
}
a:hover{
    color: rgb(44, 43, 43); 
}
a:visited {
    color: rgb(0, 33, 116); 
}
.cursor {cursor: pointer}
input, button, select {padding:5px}

/*Contraste*/
.contraste {background-color:#222;color:#f2f2f2;}
.contraste a {color:#f2f2f2;text-decoration: none;}
.contraste a[target] {background-color:yellow;color:#333}
.contraste button {background-color:#222;color:#f2f2f2;border-color:tomato;border-width:1px}
.contraste input {background-color:#333;color:#f2f2f2;border-width:0px}
.contraste input, .contraste button {border-radius:5px;font-size:12px}